body{
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color: hsl(0, 0%, 0%);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 10%);
    border-radius: 50px;
    max-width: 500px; 
    overflow: hidden;
    width: 90vw;
    margin: 20px auto;
}

#display{
    width: 100%;
    padding: 15px;
    font-size: 3rem;
    text-align: left; 
    border: none; 
    background-color: hsl(0, 0%, 20%);
    color: rgb(255, 251, 251);
}

#keys{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    text-align: center;
}

button{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold; 
    cursor: pointer;
}

@media (max-width: 480px) {
    #display { 
        font-size: 2rem;
        padding: 10px;
    }
    button {
        font-size: 1.5rem;
        border-radius: 20px;
    }
    #calculator {
        width: 95vw;
    }
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%)
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
